{% extends 'base.html' %}

{% block title %}
{{pet.name}}
{% endblock %}

{% block body %}

<div class="container text-center justify-content-center">
    <h3>name: {{pet.name}}</h3>
    <h6>species: {{pet.species}}</h6>
    <img class="rounded mx-auto d-block" src="{{pet.photo_url}}" alt="pet photo">
    <p>Age: {{pet.age}}</p>
    <p>notes</p>
    <p>{{pet.notes}}</p>
    <a class="btn btn-success" href="/pets/{{pet.id}}/edit">Edit Info</a>
    <a class="btn btn-danger" href="/">Back</a>
</div>

{% endblock %}

