.img-thumbnail {
    width: 80%;
    height: 80%;
    margin-left: 1em;
    margin-right: 1em;
}
p{
    font-size: 1.5em;
    padding-left: 1em;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: rgb(42, 195, 42);
}

body{
    background-color: lightblue;
}

